# Ignore virtual environment
backend/venv/

# Ignore SQLite database
backend/db.sqlite3

# Ignore Python bytecode
backend/__pycache__/

# Ignore environment variables files
backend/.env

# Ignore frontend dependencies
frontend/node_modules/